{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load user_filters %}
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h3">
                  <h2>Об авторе</h2>
                </div> 
            </li>
            <li class="list-group-item">
              <div class="h6 text-muted">
                <p>Карина, 31 год</p>
                <a href="https://github.com/Karina-Rin">Мой аккаунт на GitHub
                </a>
              </div>
            </li>
          </ul>                                    
        </div>                    
      </div>                
    </div>
    <!-- Тело страницы -->
    <div class="col-md-9">
      <div class="card-body">                    
        <div class="card-text">
          <p>Привет, на этой странице я расскажу немного о себе.
            Чтобы начать вливание в мир программирования у меня ушли годы
            раздумий, надо - не надо, а времени хватит, а что дальше, а там же 
            только мужчины... Мой путь был тернист. Но вот я здесь написала свой 
            первый сайт и знаете, это вдохновляет на стремления идти дальше.
          </p>
            <p>У меня есть кошка по имени <b>Ириска</b> (назвала так из-за цвета
              шерсти). Помощник из нее так себе, лишь отвлекает))
              По рекомендации "умных" людей приобрела уточку (ярл Балгрф из
              игры Skyrim), иногда беседую с ней, помогает)
            </p>
            {% load static %}
            <img src="{% static 'my_img/yarl_Balgruf.jpg' %}" height="200">            
            <p> Спасибо, что заглянули!</p>
        </div>    
      </div>                
    </div>  
    <img src="{% static 'my_img/desk.jpg' %}" width="400" >
  </div>        
</main>
{% endblock %}