{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="row">
  <h2>Вот что я умею</h2>
  {% comment %}
    Боковой блок со списком технологий 
    Займет всю ширину блока на мобильном
    и 25% при размерах экрана ≥768px
  {% endcomment %}
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  {% comment %}
    Статья  
    Займет всю ширину блока на мобильном
    и 75% при размерах экрана ≥768px
  {% endcomment %}
  <article class="col-12 col-md-9">
    <p>Для создания сайта я использовала следующие технологии: </p>
    <p><ul><li><b>Базы данных и SQL. </li></ul></b>Эти технологии созданы для 
    хранения данных и управления ими. Вы узнаете, как создавать базы и 
    записывать в них данные, как запрашивать информацию из БД и как искать 
    иголки в стогах полученных данных.</p>
    <p><ul><li><b>Фреймворк Django.</li> </ul></b>Веб-проект можно написать с 
    чистого листа, а можно воспользоваться фреймворком — набором готовых 
    инструментов для разработки и собрать сайт «из деталей», как из 
    конструктора Лего. <b>Django</b> — один из распространённых и популярных 
    фреймворков, написанных на <b>Python</b>.</p>
  </article>
</div>
{% endblock %}